# Lagos Air Quality Sensor Data Engineering and Process Auntomation

## Open Africa Lagos Data Disoveries

- Original Dataframe is a single column with all column names joined together (separated by semicolon) to form a single index column
- Dataframe headers (column names) datatypes changed to `tuple` after being separated alongside their corresponding values, to form individual column names within the dataframe.
- All data collected are of object datatypes
-

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from glob import glob

In [20]:
datanov23 = pd.read_csv("./data/lagos_air_quality_2023nov.csv")
datanov23.head()

  sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value
0  4856;DHT22;3629;6.428;3.435;2023-11-01T16:44:1...
1  4856;DHT22;3629;6.428;3.435;2023-11-01T16:44:1...
2  4855;pms5003;3629;6.428;3.435;2023-11-01T16:44...
3  4855;pms5003;3629;6.428;3.435;2023-11-01T16:44...
4  4855;pms5003;3629;6.428;3.435;2023-11-01T16:44...

In [21]:
# Checking datatype of the DataFrame columns
print(type(datanov23.columns))

<class 'pandas.core.indexes.base.Index'>

In [22]:
# Reading information about the raw sensor data 
datanov23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210 entries, 0 to 1209
Data columns (total 1 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value  1210 non-null   object
dtypes: object(1)
memory usage: 9.6+ KB

In [27]:
# Separating the column names and assigning to a variable columns
columns = datanov23.columns.str.split(";")
columns

Index([['sensor_id', 'sensor_type', 'location', 'lat', 'lon', 'timestamp', 'value_type', 'value']], dtype='object')

In [33]:
type(columns)

pandas.core.indexes.base.Index

In [35]:
columns = list(columns[0])
columns

['sensor_id',
 'sensor_type',
 'location',
 'lat',
 'lon',
 'timestamp',
 'value_type',
 'value']

In [37]:
columns = [str(items) for items in columns]
columns

['sensor_id',
 'sensor_type',
 'location',
 'lat',
 'lon',
 'timestamp',
 'value_type',
 'value']

In [38]:
print(type(columns[0]))

<class 'str'>

In [39]:
data = []
for row in datanov23["sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value"]:
    data.append(row.split(";"))

In [40]:
lag_nov23 = pd.DataFrame(data, columns=columns)
lag_nov23.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value
0,4856,DHT22,3629,6.428,3.435,2023-11-01T16:44:12.409509+00:00,humidity,82.60
1,4856,DHT22,3629,6.428,3.435,2023-11-01T16:44:12.409509+00:00,temperature,29.40
2,4855,pms5003,3629,6.428,3.435,2023-11-01T16:44:52.764459+00:00,P2,19.00
3,4855,pms5003,3629,6.428,3.435,2023-11-01T16:44:52.764459+00:00,P1,25.00
4,4855,pms5003,3629,6.428,3.435,2023-11-01T16:44:52.764459+00:00,P0,14.00

In [41]:
lag_nov23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210 entries, 0 to 1209
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sensor_id    1210 non-null   object
 1   sensor_type  1210 non-null   object
 2   location     1210 non-null   object
 3   lat          1210 non-null   object
 4   lon          1210 non-null   object
 5   timestamp    1210 non-null   object
 6   value_type   1210 non-null   object
 7   value        1210 non-null   object
dtypes: object(8)
memory usage: 75.8+ KB

### Convert all columns into the right datatype for all captured sensor data

In [43]:
lag_nov23["sensor_id"].unique()

array(['4856', '4855', '4857', '4858', '4853', '4854'], dtype=object)

In [44]:
lag_nov23["sensor_type"].unique()

array(['DHT22', 'pms5003'], dtype=object)

In [45]:
lag_nov23["location"].unique()

array(['3629', '3630', '3628'], dtype=object)

In [46]:
lag_nov23["value"][:10].unique()

array(['82.60', '29.40', '19.00', '25.00', '14.00', '80.30', '29.70',
       '3.50', '4.25', '2.50'], dtype=object)

In [47]:
lag_nov23["sensor_id"] = lag_nov23["sensor_id"].astype(int)
lag_nov23["location"] = lag_nov23["location"].astype(int)
lag_nov23["lat"] = lag_nov23["lat"].astype(float)
lag_nov23["lon"] = lag_nov23["lon"].astype(float)

In [48]:
lag_nov23["value"] = lag_nov23["value"].astype(float)

In [49]:
lag_nov23["timestamp"] = lag_nov23['timestamp'].str.strip()

In [50]:
invalid_entries = lag_nov23[~lag_nov23['timestamp'].str.match(r'^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?\+\d{2}:\d{2}$')]
print(invalid_entries)  # Display rows with invalid timestamps

Empty DataFrame
Columns: [sensor_id, sensor_type, location, lat, lon, timestamp, value_type, value]
Index: []

In [51]:
# Convert to datetime
lag_nov23['timestamp'] = pd.to_datetime(lag_nov23['timestamp'], errors='coerce')

# Find rows with NaT values
invalid_rows = lag_nov23[lag_nov23['timestamp'].isnull()]
print(invalid_rows)

Empty DataFrame
Columns: [sensor_id, sensor_type, location, lat, lon, timestamp, value_type, value]
Index: []

In [52]:
lag_nov23["timestamp"].isnull().sum() # = pd.to_datetime(lag_nov23["timestamp"])

0

In [53]:
lag_nov23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210 entries, 0 to 1209
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sensor_id    1210 non-null   int32
 1   sensor_type  1210 non-null   object
 2   location     1210 non-null   int32
 3   lat          1210 non-null   float64
 4   lon          1210 non-null   float64
 5   timestamp    1210 non-null   datetime64[ns, UTC]
 6   value_type   1210 non-null   object
 7   value        1210 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(3), int32(2), object(2)
memory usage: 66.3+ KB

In [54]:
lag_nov23["timestamp"]

0      2023-11-01 16:44:12.409509+00:00
1      2023-11-01 16:44:12.409509+00:00
2      2023-11-01 16:44:52.764459+00:00
3      2023-11-01 16:44:52.764459+00:00
4      2023-11-01 16:44:52.764459+00:00
                     ...
1205   2023-11-27 08:19:48.370122+00:00
1206   2023-11-27 08:19:48.370122+00:00
1207   2023-11-27 08:19:48.370122+00:00
1208   2023-11-27 08:20:01.486262+00:00
1209   2023-11-27 08:20:01.486262+00:00
Name: timestamp, Length: 1210, dtype: datetime64[ns, UTC]

In [55]:
lag_nov23.head(10)
print(lag_nov23.info())
print(lag_nov23.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1210 entries, 0 to 1209
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sensor_id    1210 non-null   int32
 1   sensor_type  1210 non-null   object
 2   location     1210 non-null   int32
 3   lat          1210 non-null   float64
 4   lon          1210 non-null   float64
 5   timestamp    1210 non-null   datetime64[ns, UTC]
 6   value_type   1210 non-null   object
 7   value        1210 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(3), int32(2), object(2)
memory usage: 66.3+ KB
None
(1210, 8)

### Lagos Air Quality data engineering process automation

The function below

In [57]:
def lagos_air_quality_prep(data):
    df = pd.read_csv(data)
    columns = df.columns.str.split(";")
    columns = list(columns[0])
    columns = [str(items) for items in columns]
    
    lag_df = []
    for row in df["sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value"]:
        lag_df.append(row.split(";"))
        
    clean_df = pd.DataFrame(lag_df, columns=columns)
    clean_df["sensor_id"] = clean_df["sensor_id"].astype(int)
    clean_df["location"] = clean_df["location"].astype(int)
    clean_df["lat"] = clean_df["lat"].astype(float)
    clean_df["lon"] = clean_df["lon"].astype(float)
    clean_df["value"] = clean_df["value"].astype(float)
    clean_df["timestamp"] = clean_df['timestamp'].str.strip()
    # Convert to datetime
    clean_df['timestamp'] = pd.to_datetime(clean_df['timestamp'], errors='coerce')

    return clean_df

To achieve the multiple data import based on the pattern matching, we use the `glob` library already imported. The glob creates a list of all data in the folder that matches the name provided. Here we used `*` as a wildcard to get all.

In [59]:
files = glob("./data/lagos_air_quality_20*.csv")
files

['./data\\lagos_air_quality_2023dec.csv',
 './data\\lagos_air_quality_2023nov.csv',
 './data\\lagos_air_quality_2024feb.csv',
 './data\\lagos_air_quality_2024jan.csv',
 './data\\lagos_air_quality_2024mar.csv']

Use your `lagos_air_quality_prep` function in a `for` loop to create a list named `frames`. The list should the cleaned DataFrames created from the CSV filenames your collected in `files`.

In [61]:
dataframes = []
for file in files:
    df = lagos_air_quality_prep(file)
    dataframes.append(df)

In [62]:
for frame in dataframes:
    dataframe.head()

Use [`pd.concat`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) to concatenate the items in `frames` into a single DataFrame `df`. Make sure you set the `ignore_index` argument to `True`.

In [64]:
df = pd.concat(dataframes, ignore_index=True)
df.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value
0,4857,pms5003,3630,6.54,3.297,2023-12-01 05:32:46.225178+00:00,P2,45.7
1,4857,pms5003,3630,6.54,3.297,2023-12-01 05:32:46.225178+00:00,P1,56.2
2,4857,pms5003,3630,6.54,3.297,2023-12-01 05:32:46.225178+00:00,P0,31.1
3,4858,DHT22,3630,6.54,3.297,2023-12-01 05:33:00.284420+00:00,humidity,100.0
4,4858,DHT22,3630,6.54,3.297,2023-12-01 05:33:00.284420+00:00,temperature,26.3

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168259 entries, 0 to 168258
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   sensor_id    168259 non-null  int32
 1   sensor_type  168259 non-null  object
 2   location     168259 non-null  int32
 3   lat          168259 non-null  float64
 4   lon          168259 non-null  float64
 5   timestamp    168259 non-null  datetime64[ns, UTC]
 6   value_type   168259 non-null  object
 7   value        168259 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(3), int32(2), object(2)
memory usage: 9.0+ MB